# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
*.env
server/.env

# Database files
server/data/*.sqlite*
server/data/*.db*

# Build outputs
dist/
build/
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
